/* Acá van tus reglas de estilo */
h1{
    color: rgba(36, 131, 240, 0.664)
}
h2{
    color:blueviolet
}
h3{
    color:blue
}
.centrado {
   text-align: center;
}

.visible {
    display: block;
}
.hidden {
   display: none; 
}