/* Acá van tus reglas de estilo */
body {
    background-color: #B8E0E3;
    margin: 0px;
    background-size:100% 110%;
}
#cipher{
    background:transparent;
    height: 400px;
    width:50%;
    margin:auto;
    display:block;
    display:none;
    width: 200px;
    position: relative;
    top:200px;
}
#login {
        display:block;
        position: absolute;
        width: 50%;
        top:0;
        height: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
h1{
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-weight:normal;
    margin: 2em auto 0px;
}
.login{
    background: #edeff1;
    margin:0px auto;
    padding-top:20px;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    position: absolute;
    width: 50%;
    top:0;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
input[type="password"]{

    background: #fff;
    border:0px;
    padding: 5px;
    font-size:16px;
    border:2px solid #fff;
    transition:all 0.3s ease;
    border-radius:5px;
    -moz-border-radius:5px;
    position: absolute;
    width: 200px;
    top:0;
    height: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
input[type="password"]:focus{
    border:2px solid #1abc9d;
    position: absolute;
    width: 50%;
    top:0;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#login.hide{
    display:none
}
#cipher.show{
    display:block;

}
input[type="number"]{
    width: 309px;
    height: 35px;
    margin:15px auto;
    background: #fff;
    border:0px;
    padding: 5px;
    font-size:16px;
    border:2px solid #fff;
    transition:all 0.3s ease;
    border-radius:5px;
    -moz-border-radius:5px;
    position: relative;
    right: 70px;
}
textarea{
    width: 309px;
    height: 35px;
    margin:15px auto;
    background: #fff;
    border:0px;
    padding: 5px;
    font-size:16px;
    border:2px solid #fff;
    transition:all 0.3s ease;
    border-radius:5px;
    -moz-border-radius:5px;
    position: relative;
    right: 70px;
}
h2{
    color:#ffff;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    margin: auto 0px;
    position: relative;
    right: 20px;
}
input[type="button"]{
    height: 35px;
    margin:15px auto;
    background: #fff;
    border:0px;
    font-size:16px;
    border:2px solid #fff;
    border-radius:5px;
    -moz-border-radius:5px;
    display: inline-block;
}
#buttonnext{
    height: 35px;
    margin:15px auto;
    background: #fff;
    border:0px;
    font-size:16px;
    border:2px solid #fff;
    border-radius:5px;
    -moz-border-radius:5px;
    position: relative;
    left:350px;
    top:60px;
}
#imagen{
    position:absolute;
    top:30px;
    left:620px;
}
h1{
    position: relative;
    top:200px
}
#error{
    position: relative;
    left:330px;
}
input[type="button"]{
float: left;
}